<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS Tags</title>
</head>

<body>
  <h1>
    <!-- Tite goes here -->
    <%= title %>
  </h1>
 <p>
  <%= day %>
</p>
<ol>
  <% days.forEach(element => { %>
    <li> <%= element %></li>
 <% }); %>
</ol>
<h1>What is the Day?</h1>
<h3>It is <%= days[day] %></h3>
<%- include('footer.ejs') %>
</body>


</html>